In [1]:
r=int(input("enter radious"))

enter radious2

In [2]:
pi=3.14

In [4]:
area=pi*r*r

In [6]:
area

12.56

In [8]:
string=input("enter string")

enter stringsalini

In [9]:
string[::-1]

'inilas'

In [10]:
a=int(input("enter no1"))
b=int(input("enter no2"))
c=int(input("enter no3"))

enter no11
enter no22
enter no33

In [12]:
avg=(a+b+c)/3

In [13]:
avg

2.0

In [14]:
a1=int(input("enter no1"))
b1=int(input("enter no2"))
c1=int(input("enter no3"))

enter no13
enter no24
enter no31

In [16]:
if a1>b1 and a1>c1 :
    print(a1)
elif b1>a1 and b1>c1:
    print(b1)
else:
    print(c1)

4

In [17]:
str1=input("enter string")

enter stringsalini

In [18]:
len(str1)

6

In [20]:
if(len(str1)%2==0):
    print("even")
else:
    print("odd")

even

In [21]:
a=['tirur','kuttippuram',3,4.5,True]
a

['tirur', 'kuttippuram', 3, 4.5, True]

In [22]:
type(a)

list

In [23]:
w=[1,2,3,4,5,'']

In [24]:
w

[1, 2, 3, 4, 5]

In [25]:
s=[]
s

[]

In [26]:
e=list(['hello','UAE','india'])
e

['hello', 'UAE', 'india']

In [27]:
w[0]

1

In [28]:
w[0:4]

[1, 2, 3, 4]

In [29]:
a

['tirur', 'kuttippuram', 3, 4.5, True]

In [32]:
a[:5]

['tirur', 'kuttippuram', 3, 4.5, True]

In [33]:
a[:3:2]

['tirur', 3]

In [34]:
a[::]

['tirur', 'kuttippuram', 3, 4.5, True]

In [35]:
a[::-1]

[True, 4.5, 3, 'kuttippuram', 'tirur']

In [2]:
list1=[1,2,3,'calicut']
list1

[1, 2, 3, 'calicut']

In [3]:
list1[0:3]

[1, 2, 3]

In [5]:
list1[::-1]

['calicut', 3, 2, 1]

In [6]:
list1[3:0:1]

[]

In [7]:
list1[-3:-1:-1]

[]

In [8]:
list1[-3:-1]

[2, 3]

In [9]:
lst=[]

In [10]:
#append operation
lst.append("calicut")
lst

['calicut']

In [11]:
lst.append(1)

In [12]:
lst

['calicut', 1]

In [13]:
lst.append(['kuttippuram',3,4])

In [14]:
lst

['calicut', 1, ['kuttippuram', 3, 4]]

In [15]:
lst[2]

['kuttippuram', 3, 4]

In [16]:
lst[2][0]

'kuttippuram'

In [17]:
#insert operation
lst2=['calicut','malappuram',3,5,6]

In [18]:
lst2.insert(1,44)
lst2

['calicut', 44, 'malappuram', 3, 5, 6]

In [19]:
lst2.insert(-2,88)
lst2

['calicut', 44, 'malappuram', 3, 88, 5, 6]

In [20]:
lst2.pop()

6

In [21]:
lst2

['calicut', 44, 'malappuram', 3, 88, 5]

In [22]:
lst2.pop(3)

3

In [23]:
lst2

['calicut', 44, 'malappuram', 88, 5]

In [24]:
lst3=[34,12,45,7,0,99,8]
lst3.sort()
lst3

[0, 7, 8, 12, 34, 45, 99]

In [25]:
lst3.append(12)

In [26]:
lst3

[0, 7, 8, 12, 34, 45, 99, 12]

In [28]:
lst3.remove(12)

In [29]:
lst3

[0, 7, 8, 34, 45, 99, 12]

In [30]:
"mes"+"college"

'mescollege'

In [31]:
"mes"+1

TypeError: can only concatenate str (not "int") to str

In [34]:
lst3*3

[0, 7, 8, 34, 45, 99, 12, 0, 7, 8, 34, 45, 99, 12, 0, 7, 8, 34, 45, 99, 12]

In [35]:
"india"*3

'indiaindiaindia'

In [36]:
lst3+"mes"

TypeError: can only concatenate list (not "str") to list

In [37]:
lst4=[1,2,3,4,5,6]

In [38]:
lst4.insert(-2,666)

In [39]:
lst4

[1, 2, 3, 4, 666, 5, 6]

In [43]:
#Loops
#for loop & while loop
mystr="MES college"
for i in mystr:
    print(i,end="  ")

M  E  S     c  o  l  l  e  g  e

In [44]:
#for loop & while loop
mystr="MES college"
for i in mystr:
    print(i,end=" * ")

M * E * S *   * c * o * l * l * e * g * e *

In [45]:
#for loop & while loop
mystr="MES college"
for i in mystr:
    print(i)

M
E
S

c
o
l
l
e
g
e

In [46]:
#for loop & while loop
mystr="MES college"
for i in mystr:
    print(i,end=" \t ")

M 	 E 	 S 	   	 c 	 o 	 l 	 l 	 e 	 g 	 e

In [50]:
lst5=['mala','cali',3,45,6]
for i in lst5:
    if type(i)==str:
        print(i)

mala
cali

In [51]:
#a range
#range(10) 0 to 9
#range(1,10) 1 to 9
#range(start,end,step) 
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [52]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [55]:
#print first 10 natural numbers 
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [57]:
#sum of first 20 natural numbers
s=0
for i in range(1,21):
    s=s+i
print("sum :",s)

sum : 210

#while loop
#while condition or expression
#    s1
#    s2

In [ ]:
i=10
while i<=10:
    print(i)
    i=i+1

In [ ]:
i=10
while i<=10:
    print(i)
    i=i+1